body{
    background-color: white;
}
.box{
    margin-left: 4cm;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.itemresult{
    margin-left: 4cm;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;

}
.title{
    margin-left: 4cm;
    margin-top: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(69, 70, 71);
    
}
input{
    margin-bottom: 30px;
    width: 15cm;
    font-family: serif;
     border: 3px solid  rgb(121, 173, 218) ;
     border-radius: 100px;
}
button{
    
    width: 100px;
    background-color:  rgb(121, 173, 218);
    border-radius: 3%;
    border: none;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    
}
.no-gutters{
    width:20cm ;
    margin-left: 4cm;
    background-color: rgb(121, 173, 218);
    border-radius: 10px;
   
}
.card-img-top{
    width: 10cm;
}

img {
   width: 6cm;
   border-radius: 100px;
}    

.d-block{
   width: 4cm;
   border-radius: 80%;
   border: 1cm solid rgb(121, 173, 218);
 
  
   
}
.result-img{
    width: 20cm;

}
.card-text{
   font-family: cursive;
   background-color: rgb(182, 206, 228);
   text-align: center;
}
.card-price{
    background-color: rgb(155, 115, 15);
    text-align: center;
}
.card-link{
    background-color: rgb(177, 200, 230);
    text-align: center;
}
